.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  margin: 80px 0;
}

.resume-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

.resume-card {
  display: flex;
  height: 400px;
}
.resume-bullets {
  width: 320px;
  height: 100%;
  box-shadow: 5px 0 3px -2px #888;
}
.bullets-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.bullet-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.6rem;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.bullets {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: 2;
  width: 80%;
}
.bullet {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgb(11, 10, 10);
  color: #111;
  border-radius: 20px;
  margin: 8px;
  height: 40px;
  width: 30px;
  transition: width 0.6s ease;
}

.showBullet {
  width: 100%;
  color: white;
}
.bullet-logo {
  vertical-align: middle;
  border-style: none;
}

.bullet-label {
  font-size: 18px;
  white-space: nowrap;
  padding-left: 2rem;
  font-weight: bold;
  font-family: "Poppens SemiBold";
}
.resume-bullet-details {
  height: 100%;
  width: 100%;
  padding-left: 80px;
  overflow: auto;
}

/* resume details carousal */
.show-content {
  transform: translateY(0px);
}

.resume-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  width: 100%;
  margin: 2px 0;
}

.resume-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

.resume-main-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
  color: darkorange;
}

.heading-bullet {
  position: absolute;
  left: -30px;
  width: 1rem;
  height: 1rem;
  background-color: darkorange;
  border-radius: 20px;
}

.heading-date {
  background-color: darkorange;
  color: white;
  border-radius: 14px;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
}

.resume-sub-heading {
  font-weight: bold;
  margin-bottom: 1rem;
}

/* experience container */
.experience-container {
  height: 80%;
  width: 100%;
}

.experience-discription {
  width: 100%;
  margin-bottom: 1rem;
}
.points {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: space-evenly;
  height: 170px;
}
.programming-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 95%;
}
.skill-parent {
  width: 45%;
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  color: #cf7200;
}
.skill-percentage {
  position: relative;
  width: 70%;
  height: 1rem;
  background-color: #cf7200;
}

.skill-percentage div {
  width: 90%;
  height: inherit;
  background-color: rgb(39, 37, 37);
  position: absolute;
  z-index: 2;
}

.sort-discription {
  font-size: 0.8rem;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.link,
.link:active,
.link:visited {
  color: #e1820e;
}

@media screen and (max-width: 1110px) {
  .resume-card {
    width: 90%;
  }
}

@media screen and (max-width: 975px) {
  .resume-card {
    flex-direction: column;
    height: 820px;
  }
  .resume-bullets {
    width: 100%;
    margin-bottom: 2rem;
    height: 360px;
  }
  .resume-bullet-details {
    height: 400px;
  }
}

@media screen and (max-width: 375px) {
  .resume-bullet-details {
    height: 400px;
    width: 100%;
    padding: 0;
  }

  .resume-screen-container {
    background-color: antiquewhite;
    justify-content: space-around;
  }
  .programming-parent {
    justify-content: space-around;
    height: 80%;
  }
}
